""" Map leader to space ---------------------
let mapleader="\"
inoremap jk <esc>

""" Plugins  --------------------------------
set surround
set commentary
set argtextobj
set easymotion
set textobj-entire
set ReplaceWithRegister

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

""" Common settings -------------------------
set showmode
set so=5
set incsearch
set nu

""" Idea specific settings ------------------
set ideajoin
" set ideastatusicon=gray
set idearefactormode=keep

""" Mappings --------------------------------
map <leader><leader>w <Plug>(easymotion-s)
map <leader><leader>b <Plug>(easymotion-f)

" map <leader>d <Action>(Debug)
map <leader>r <Action>(RenameElement)
map <leader>c <Action>(Stop)
map <leader>z <Action>(ToggleDistractionFreeMode)

" map <leader>s <Action>(SelectInProjectView)
" map <leader>a <Action>(Annotate)
" map <leader>h <Action>(Vcs.ShowTabbedFileHistory)
map <S-Space> <Action>(GotoNextError)

map <leader>b <Action>(ToggleLineBreakpoint)
map <leader>f <Action>(FileStructurePopup)
